* {
  font-family: Segoe UI;
}

body {
  margin: 0;
  color: #FFF;
  overflow-y: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
}

.card {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#333, #333);
  transition: all .5s;
  z-index: 999999;
}

.card:hover {
  background-image: linear-gradient(#444444, #c53333);
}

.card .img {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.card:hover .img {
  width: 430px;
  opacity: 1;
}

.card:hover .img span {
  font-size: 28px;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 460px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
}

.heart {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="red" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
  background-size: cover;
  animation: fall 3s linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(-100vh) rotate(45deg);
  }
  100% {
      transform: translateY(110vh) rotate(45deg);
  }
}
.music {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}